
#Exam{
    clear: both;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    width:100%;
}

#ExamLeft{
    float: left;
    display: table-cell;
}

#ExamRigh{
    width: 30%;
    display: table-cell;
}
/*Form Exam*/
#Exam .fixed-Content .container-content{
    background:rgba(138,198,209,0.3);
    box-shadow: -5px 15px 23px -20px rgba(0,0,0,1);
    border-radius: 20px;
    padding:20px;
    min-height: 300px;
}
#Exam .fixed-Content{
    min-height: 400px;
    width:100%;
}


/*Button Form*/
.Button-Form{
    text-align: right;
}
.Button-Form button{
    color: white;
    font-size:20px;
    width: 90px;
    border: none;
    border-radius: 6px;
    padding:5px;
    margin:0 10px 0 10px;
    background:black;
    transition: .3s all;
}
.Button-Form button:hover{background: #59d4e8;}
.Button-Form button:active{
    background: #248ea9;
    border:none;
}

/*Button submit*/
.Quiz{
    display: block; 
    padding: 7px;
}
.Quiz > input[type="button"]{
    color: #000; 
    width:70px; 
    height: 30px; 
    background-color: white;
    padding: 5px;
    margin:5px;
    border-radius: 5px;
    transition:.2s all;
}
.Quiz > input[type="button"]:hover{background: #aee7e8;}
.Quiz > input[type="button"]:active{
    background: #248ea9;
    border:1px solid #248ea9;
}

/*Button Submit*/
.Submit button{
    width: 150px;
    padding:10px;
    margin:10px 10px 0 0 ;
    border-radius: 10px;
    border:none;
    background:#45969b;
    color:white;
    float:right;
    font-size:17px;
    transition: .3s all;
    box-shadow: 18px 30px 68px -17px rgba(0,0,0,0.75);
}
.Submit button:hover{
    background:#8ac6d1;
}
.Submit button:active{
    background:#45969b;
    box-shadow: 18px 30px 68px -17px rgba(0,0,0,0.75);
}
.Checked{
    background:grey;
}